<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h3>Precio</h3>
        </div>
        <div class="col-12">
            <p>Adquiere uno de nuestros planes en promocion
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            <div class = "bg-light border">
              <p>Libre</p>  
            </div>
            <div class = "border">
                <p><span>$0</span>/mes</p>
                <p>10 usuarios incluidos</p>
                <p>2 GB de almacenamiento</p>
                <p>Soporte de correo electronico</p>
                <p>Acceso al centro de ayuda</p>
                <div>
                    <button type="button" class="btn btn-primary">Registrate gratis</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class = "bg-light border">
              <p>Pro</p>  
            </div>
            <div class = "border">
                <p><span>$0</span>/mes</p>
                <p>10 usuarios incluidos</p>
                <p>2 GB de almacenamiento</p>
                <p>Soporte de correo electronico</p>
                <p>Acceso al centro de ayuda</p>
                <div>
                    <button type="button" class="btn btn-primary">Empezar</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class = "bg-light border">
              <p>Empresa</p>  
            </div>
            <div class = "border">
                <p><span>$0</span>/mes</p>
                <p>10 usuarios incluidos</p>
                <p>2 GB de almacenamiento</p>
                <p>Soporte de correo electronico</p>
                <p>Acceso al centro de ayuda</p>
                <div>
                    <button type="button" class="btn btn-primary">Contactenos</button>
                </div>
            </div>
            
        </div>
    </div>
</div>